.container .nav.nav-tabs {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container {
    padding-bottom: 20px;
}

.dropzone {
  border: none !important;
  margin-top: -50px !important;
}

.less {
    width: 255px !important;
}